<h1>
  Share index <br />
  <small>
    This is a list of all shares that are on the system
  </small>
</h1>
<br /><br />
<ul>
  <%= render @shares %>
</ul>
<br /><br />
<%= link_to "Add a new share", new_share_path, :class => "btn btn-primary" %>
