<h1>
  Share index <br />
  <small>
    This is a list of all shares that are on the system
  </small>
</h1>

<ul>
  <%= render @shares %>
</ul>

<%= link_to "Add a new share", new_share_path, :class => "btn btn-primary" %>
