<h1>
  <%= @share.title || "Box for #{@share.email}" %>
  <br />
  <small><%= custom_or_default_description "Please click one of the files below to download it, or click 'Select Files' to upload a file to the sender." %></small>
</h1>
<br />

<%# output the uploads %>
<% unless @share.uploads.empty? -%>
  <h4>
    Files (<span id="upload_count"><%= @share.uploads.count %></span>) 
  </h4>
  <ul id="uploads">
    <%= render :partial => 'uploads/upload', :collection => @share.uploads, :locals => { :share => @share, :skip_delete => true } %>
  </ul>
<% end -%>
