<% unless upload.id.nil? %>
	<li id="<%= upload.id %>">
		<%= link_to "#{File.basename(upload.file.to_s)} - (#{number_to_human_size(upload.file.size)})", upload.file.to_s %> 
        <%= link_to "Delete", share_upload_path(share,upload), :method => :delete, :remote => true, :class => "delete" %>
	</li>
<% end %>
